* {
  --Light-Blue: #00abe1;
  --Dark-Blue: #161f6d;
}
body {
  margin: 0;
  font-family: "Playfair Display", serif;
  background: var(--Light-Blue);
  color: var(--Dark-Blue);
}

a {
  text-decoration: none;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
